<div class="ingredients_container">
  <h1><u>Ingredients</u></h1>
  <div class="ingredients">
    <h3>Name: Cost</h3>
    <% @ingredients.each do |ingredient| %>
      <%= "#{ingredient.name}: #{ingredient.cost}" %><br>
    <% end %>
  </div>
</div>